@import "variables";


.home {
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000 url("#{$staticUrl}/sites/img/cover.jpg") 34% 34% no-repeat;
        background-size: cover;

        @media (max-width: $sm-max-width) {
            background-position-x: 35%;
        }
    }

    .content {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        $goldenRatio: 1.618;

        $lineHeight: 1.5;

        $mediaMaxHeight: 640px;
        $mediaWidthTiny: 376px;
        $mediaWidthMedium: 818.18px;

        $h1FontSize: 50px;
        $h1TopAtMaxHeight: 25px;

        $blockTop: 18%;
        $blockLeft: 28%;
        $blockSize: 360px;
        $blockBorderSize: 16px;
        $blockTopAtMediaMaxHeight: $h1FontSize * $lineHeight + 2 * $h1TopAtMaxHeight;

        $navUp: 100px;
        $navPaddingX: 20px;
        $navFontSize: 36px;
        $navItemCounter: 4;
        $navHeight: $navFontSize * $lineHeight * $navItemCounter  + $navItemCounter * 2 * $navPaddingX;

        h1 {
            position: absolute;
            top: 5%;
            left: 35%;
            font-size: $h1FontSize;
            line-height: $lineHeight;
            color: #fff;

            @media (max-width: $mediaWidthTiny) {
                right: $navPaddingX;
                left: unset;
            }

            @media (max-height: $mediaMaxHeight) {
                top: $h1TopAtMaxHeight;
            }
        }

        blockquote {
            position: absolute;
            top: $blockTop;
            left: $blockLeft;
            border: $blockBorderSize solid #fff;
            width: $blockSize;
            height: $blockSize;

            @media (max-width: $mediaWidthMedium) {
                left: calc(50% - #{$blockSize / 2});
            }

            @media (max-width: $mediaWidthTiny) {
                left: 0;
                width: 100%;
                border-left: none;
                border-right: none;
            }

            @media (max-height: $mediaMaxHeight) {
                top: $blockTopAtMediaMaxHeight;
            }
        }

        nav {
            position: absolute;
            top: calc(#{$blockTop} + #{$blockSize - $navUp});
            left: $blockLeft;
            width: $blockSize;
            padding-right: #{$blockBorderSize};

            .nav-item {
                margin: $navPaddingX 0;
                text-align: right;

                a {
                    font-size: $navFontSize;

                    span {
                        padding: #{$navPaddingX / 2} $navPaddingX;
                        color: #fff;
                        white-space: nowrap;
                    }

                    &:hover {
                        text-decoration: none;

                        span {
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }

                &:not(:first-child) {
                    margin-right: -#{$blockBorderSize + $navPaddingX};
                }
            }

            .nav-item-divider {
                height: $navPaddingX;
            }

            @media (max-width: $mediaWidthMedium) {
                left: calc(50% - #{$blockSize / 2});
            }

            @media (max-width: $mediaWidthTiny) {
                left: 0;
                width: 100%;
                padding-right: 0;

                .nav-item {
                    &:not(:first-child) {
                        margin-right: 0;
                    }
                }
            }

            @media (max-height: $mediaMaxHeight) {
                top: $blockTopAtMediaMaxHeight + $blockSize - $navUp;
            }
        }

        $canvasHeight: $blockSize - $blockSize / $goldenRatio;

        canvas {
            position: absolute;
            top: calc(#{$blockTop} + #{$blockSize - $canvasHeight});
            left: calc(#{$blockLeft} + #{$blockSize + 2 * $navPaddingX});
            width: $blockSize;
            height: $canvasHeight;

            @media (max-width: $md-max-width) {
                top: calc(#{$blockTop} + #{$blockSize + $navHeight - $navUp});
                left: $blockLeft;
            }

            @media (max-width: $mediaWidthMedium) {
                left: calc(50% - #{$blockSize / 2});
            }

            @media (max-width: $mediaWidthTiny) {
                left: 0;
                width: 100%;
            }

            @media (max-height: $mediaMaxHeight) and (min-width: $lg-min-width) {
                top: $blockTopAtMediaMaxHeight + $blockSize - $canvasHeight;
            }

            @media (max-height: $mediaMaxHeight) and (max-width: $mediaWidthMedium) {
                top: $blockTopAtMediaMaxHeight + $blockSize + $navHeight - $navUp;
            }
        }

        .player {
            position: absolute;
            top: calc(#{$blockTop} + #{$blockSize + $navPaddingX * 2});
            left: calc(#{$blockLeft} + #{$blockSize + $navPaddingX * 2});
            width: $blockSize;
            height: $canvasHeight * 2;

            .vinyl-turntable {
                position: absolute;
                top: 8px;
                left: -1px;
            }

            .vinyl-led {
                cursor: pointer;
                position: absolute;
                top: 160px;
                left: 7px;
                animation: blink-half .175s infinite linear;

                &.grey {
                    animation: none;
                    opacity: .25;
                }

                &.red {
                    box-shadow: 0 0 4px #ff0000;
                }

                &.yellow {
                    box-shadow: 0 0 4px #f1b503;
                }

                &.green {
                    box-shadow: 0 0 4px #66f000;
                }
            }

            .vinyl-power {
                cursor: pointer;
                position: absolute;
                top: 154px;
                left: 5px;
                height: 15px;
                width: 42px;
                border: none;
                outline: none;
                background: none;
            }

            .vinyl-handler {
                cursor: pointer;
                position: absolute;
                top: 18px;
                left: 182px;

                &.playing, &.paused {
                    /* x = (R-a)(1-cosA) + 1; y = (R-a)sinA - 1; a = 30; R = 146 / 2 */
                    transform: rotate(30deg) translateX(-21px) translateY(8px);
                }

                &.next {
                    animation: rotate-jump .175s linear;
                }

                @keyframes rotate-jump {
                    0% {
                        transform: rotate(30deg) translateX(-21px) translateY(8px);
                    }
                    100% {
                        transform: rotate(45deg) translateX(-30px) translateY(15px);
                    }
                }
            }

            .vinyl {
                position: absolute;
                top: 12px;
                left: 22px;
                visibility: hidden;
                animation: rotate 5s infinite linear;
                animation-play-state: paused;

                &.playing {
                    cursor: pointer;
                    visibility: visible;
                    animation-play-state: running;
                }

                &.paused {
                    cursor: pointer;
                    visibility: visible;
                    animation-play-state: paused;
                }
            }

            @media (max-width: $md-max-width) {
                top: calc(#{$blockTop} + #{$blockSize + $navHeight - $navUp + $canvasHeight + $navPaddingX * 2});
                left: $blockLeft;
            }

            @media (max-width: $mediaWidthMedium) {
                left: calc(50% - #{$blockSize / 2});
            }

            @media (max-width: $mediaWidthTiny) {
                left: 0;
                width: 100%;
            }

            @media (max-height: $mediaMaxHeight) and (min-width: $lg-min-width) {
                top: $blockTopAtMediaMaxHeight + $navHeight - $navUp + $canvasHeight + $navPaddingX * 2;
            }

            @media (max-height: $mediaMaxHeight) and (max-width: $mediaWidthMedium) {
                top: $blockTopAtMediaMaxHeight + $blockSize + $navHeight - $navUp + $canvasHeight + $navPaddingX * 2;
            }
        }
    }
}