@import "variables";


.home {
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000 url("#{$staticUrl}/sites/img/background.jpg") 34% 34% no-repeat;
        background-size: cover;

        @media (max-width: $sm-max-width) {
            background-position-x: 35%;
        }
    }

    .content {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        h1 {
            position: absolute;
            top: 5%;
            left: 35%;
            font-size: 50px;
            color: #fff;

            @media (max-height: 640px) {
                top: 25px;
            }

            @media (max-width: 376px) {
                right: 20px;
                left: unset;
            }
        }

        blockquote {
            position: absolute;
            top: 18%;
            left: 28%;
            border: 16px solid #fff;
            width: 360px;
            height: 360px;

            @media (max-width: 818.18px) {
                left: calc(50% - 180px);
            }

            @media (max-width: 376px) {
                left: 0;
                width: 100%;
                border-left: none;
                border-right: none;
            }

            @media (max-height: 640px) {
                top: 115px;
            }
        }

        nav {
            position: absolute;
            top: calc(18% + 360px - 100px);
            left: 28%;
            width: 360px;
            padding-right: 16px;

            .nav-item {
                margin: 20px 0;
                text-align: right;

                a {
                    font-size: 36px;

                    span {
                        padding: 10px 20px;
                        color: #fff;
                        white-space: nowrap;
                    }

                    &:hover {
                        text-decoration: none;

                        span {
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }

                &:not(:first-child) {
                    margin-right: -36px;
                }
            }

            .nav-item-divider {
                height: 20px;
            }

            @media (max-width: 818.18px) {
                left: calc(50% - 180px);
            }

            @media (max-width: 376px) {
                left: 0;
                width: 100%;
                padding-right: 0;

                .nav-item {
                    &:not(:first-child) {
                        margin-right: 0;
                    }
                }
            }

            @media (max-height: 640px) {
                top: 375px;
            }
        }

        canvas {
            position: absolute;
            top: calc(18% + 222px);
            left: calc(28% + 400px);
            width: 360px;
            height: 138px;

            @media (max-width: $md-max-width) {
                top: calc(18% + 360px + 202px);
                left: 28%;
            }

            @media (max-width: 818.18px) {
                left: calc(50% - 180px);
            }

            @media (max-width: 376px) {
                left: 0;
                width: 100%;
            }

            @media (max-height: 640px) and (min-width: $lg-min-width) {
                top: 337px;
            }

            @media (max-height: 640px) and (max-width: 818.18px) {
                top: 677px;
            }
        }

        .player {
            position: absolute;
            top: calc(18% + 400px);
            left: calc(28% + 400px);
            width: 360px;
            height: 214px;

            .vinyl-turntable {
                position: absolute;
                top: 8px;
                left: -1px;
            }

            .vinyl-led {
                cursor: pointer;
                position: absolute;
                top: 160px;
                left: 7px;
                animation: blink-half .175s infinite linear;

                &.grey {
                    animation: none;
                    opacity: .25;
                }

                &.red {
                    box-shadow: 0 0 4px #ff0000;
                }

                &.yellow {
                    box-shadow: 0 0 4px #f1b503;
                }

                &.green {
                    box-shadow: 0 0 4px #66f000;
                }
            }

            .vinyl-power {
                cursor: pointer;
                position: absolute;
                top: 154px;
                left: 5px;
                height: 15px;
                width: 42px;
                border: none;
                outline: none;
                background: none;
            }

            .vinyl-handler {
                cursor: pointer;
                position: absolute;
                top: 18px;
                left: 182px;

                &.playing, &.paused {
                    /* x = (R-a)(1-cosA) + 1; y = (R-a)sinA - 1; a = 30; R = 146 / 2 */
                    transform: rotate(30deg) translateX(-21px) translateY(8px);
                }

                &.next {
                    animation: rotate-jump .175s linear;
                }

                @keyframes rotate-jump {
                    0% {
                        transform: rotate(30deg) translateX(-21px) translateY(8px);
                    }
                    100% {
                        transform: rotate(45deg) translateX(-30px) translateY(15px);
                    }
                }
            }

            .vinyl {
                position: absolute;
                top: 12px;
                left: 22px;
                visibility: hidden;
                animation: rotate 5s infinite linear;
                animation-play-state: paused;

                &.playing {
                    cursor: pointer;
                    visibility: visible;
                    animation-play-state: running;
                }

                &.paused {
                    cursor: pointer;
                    visibility: visible;
                    animation-play-state: paused;
                }
            }

            @media (max-width: $md-max-width) {
                top: calc(18% + 360px + 380px);
                left: 28%;
            }

            @media (max-width: 818.18px) {
                left: calc(50% - 180px);
            }

            @media (max-width: 376px) {
                left: 0;
                width: 100%;
            }

            @media (max-height: 640px) and (min-width: $lg-min-width) {
                top: 515px;
            }

            @media (max-height: 640px) and (max-width: 818.18px) {
                top: 855px;
            }
        }
    }
}